nav{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #D6D6D6;
  
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav li{
    list-style: none;
    padding: 0 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
nav a{
    text-decoration: none;
    color: #292929;
    padding-left: 20px;
}
.btn{
   padding-right: 7%;
    background: #01996D;
    font-family: Lato;
    border: 1px solid #01996D;
    box-sizing: border-box;
    border-radius: 4px; 
    padding: 13px 50px;
    text-decoration: none;
    box-sizing: border-box;
    width: 30%;
    color: white;
}
#hero{
    height: 80vh;
    background-image: url('../img/BG.png');
    background-position: center;
    background-size: cover;
}
#hero h1{
    margin-left: 15%;
    width: 20%;
    color: #01996D;
    font-size: 3em;
    font-weight: 500;
    font-family: 'Georgia';
}
#hero p{
    margin-left: 15%;
    width: 16%;
}
#hero a{
    margin-left: 15%;
}
#hero h1{
    padding-top: 25vh;
}
#hero p{
    margin-bottom: 10vh;
}


/* footer */
footer{
    background-color: #01996D;
    height: 60vh;
}
footer nav{
    height: 100%;
}
footer nav ul{
    display: flex;
    flex-direction: column;
    height: 20vh;
    margin-right: 80%;
    line-height: 155px;
    
}
#logo
{
 font-family: Avenir;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 55px;
color: #FFFFFF;
}
footer a{
    color: #FFFFFF;;
}

.solution_video
{
    height: 90vh;
}
#video img
{
  
    width: 85%;
}
#video
{
    margin-left: 50%;
    margin-top: 10%;
}
.solution_video a
{
    
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
    position: absolute;
    width: 240px;
    height: 65px;
    left: 207px;
    top: 1577px;
    background: #01996D;
    border: 1px solid #01996D;
    box-sizing: border-box;
    border-radius: 4px;
}

#img_404
{
margin-top: 10%;
margin-left: 25%;
margin-bottom: 5%;
}
/* 
community */
.community
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100vh;
    margin-top: 15%;
}
#product_community
{
    margin-left: 5%;
}
#product_community h2
{ 
font-family: Georgia;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 157%;
color: #01996D;
}
#product_community p:nth-of-type(2)
{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    
    color: #484848;
}
#product_community a  
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    background: #01996D;
    border: 1px solid #01996D;
    box-sizing: border-box;
    border-radius: 4px;
    width: 30%;
    text-decoration: none;
    color: white;
}
#community_img
{
    margin-left: 25%;
   
}
#card
{
    background-image: url(../img/Card.png)   ;
    background-repeat: no-repeat;
   
position: absolute;
width: 296.14px;
height: 293.9px;
left: 175px;
top: 1623.1px;


border-radius: 3.72971px;
}